.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/98540d0e1b4573263cf18461cdfc5a5d6ed0a8d003a1aa7eef64102286b6863186bd42ec8b0e1111829a37de64f4d4e74d13e3dd7150a4220b400c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 215px;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-weight: 700;
  margin: 98px 783px 0 13px;
}

.u-section-1 .u-line-1 {
  width: 202px;
  height: 10px;
  transform-origin: right center 0px;
  margin: 9px auto 0 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 334px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  width: 375px;
  margin: 117px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 4.5rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  font-weight: 700;
  background-image: none;
  margin: 50px auto 0 469px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 696px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 177px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 400;
    margin-right: 623px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    margin-left: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 432px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: auto;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 348px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 148px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 336px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -5px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 341px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 90px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-line-1 {
  width: 159px;
  height: 8px;
  transform-origin: left center 0px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 341px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 51px 20px 0 -48px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 301px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 301px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 504px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1160px;
  margin: -13px -20px 10px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 507px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-image-1 {
  height: 433px;
  animation-duration: 1000ms;
  width: 537px;
  margin: 50px auto 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 507px;
  margin-top: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 89px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 20px;
}

.u-section-3 .u-text-2 {
  margin: 13px 20px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: 55px 75px 0 42px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 411px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-image-1 {
    height: 372px;
    width: 461px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    position: relative;
    margin-left: 0;
    margin-right: 8px;
    width: 424px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 278px;
    width: 344px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    width: 336px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 279px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-image-1 {
    height: 259px;
    width: 320px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 309px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -21px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 5px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 121px 15px 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  margin: 15px 15px 0;
}

.u-section-4 .u-line-1 {
  width: 177px;
  height: 10px;
  transform-origin: left center 0px;
  margin: 16px auto 0 15px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 61px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 261px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-line-1 {
    width: 99px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-line-1 {
    width: 76px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-line-1 {
    width: 71px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-line-1 {
    width: 60px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 695px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 18px -45px 0 620px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 25px;
}

.u-section-5 .u-image-1 {
  min-height: 623px;
  background-image: url("images/2c997195bf615bbd20128de3a026659a7ef2c8ca4fb2537e227c6fe7936e545333a0d756db7e34027471ce5f472584df4cbeb4bf782fa5f4eadf5c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 218px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-icon-1 {
  height: 50px;
  width: 50px;
  background-image: none;
  margin: 25px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: bold;
  font-size: 1.25rem;
  margin: -39px 0 0 80px;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 10px 0 70px;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 231px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-icon-2 {
  height: 50px;
  width: 50px;
  background-image: none;
  margin: 33px auto 0 20px;
}

.u-section-5 .u-text-4 {
  font-weight: bold;
  margin: -43px 30px 0 90px;
}

.u-section-5 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 7px 0 90px;
}

.u-section-5 .u-layout-cell-4 {
  background-image: none;
  min-height: 222px;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-icon-3 {
  height: 50px;
  width: 50px;
  background-image: none;
  margin: 31px auto 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: bold;
  margin: -37px 0 0 80px;
}

.u-section-5 .u-text-7 {
  font-size: 1.125rem;
  margin: 18px 10px 0 70px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 520px;
  }

  .u-section-5 .u-image-1 {
    min-height: 549px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    font-weight: 400;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 190px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-left: 66px;
    margin-right: 0;
    font-weight: 400;
  }

  .u-section-5 .u-text-5 {
    position: relative;
    margin-left: 66px;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 183px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-6 {
    font-weight: 400;
    margin-left: 66px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
    margin-left: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 410px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 183px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -39px;
    margin-left: 70px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-left: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 320px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 94px;
  }

  .u-section-5 .u-text-5 {
    margin-bottom: 15px;
    margin-left: 94px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 94px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 94px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 220px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 70px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 70px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 70px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 70px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 518px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: -33px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 551px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  margin: 76px -88px 0 128px;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -52px auto 0 40px;
}

.u-section-6 .u-form-1 {
  height: 313px;
  margin: 24px -20px 0 20px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 551px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 20px 6px;
}

.u-section-6 .u-icon-2 {
  width: 62px;
  height: 62px;
  background-image: none;
  margin: 71px auto 0 32px;
}

.u-section-6 .u-text-2 {
  margin: -61px 145px 0 130px;
}

.u-section-6 .u-map-1 {
  width: 438px;
  height: 340px;
  animation-duration: 1000ms;
  margin: 32px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    background-position: 50% 29.49%;
    min-height: 454px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 95px;
    margin-left: 80px;
  }

  .u-section-6 .u-map-1 {
    width: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 114px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 40px;
    margin-left: 25px;
  }

  .u-section-6 .u-map-1 {
    width: 320px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 214px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 231px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: -22px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 253px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-7 .u-text-1 {
  margin: 35px 20px 0;
}

.u-section-7 .u-line-1 {
  width: 120px;
  height: 10px;
  margin: 15px auto 0 20px;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 18px -11px 0 51px;
}

.u-section-7 .u-icon-1 {
  width: 29px;
  height: 29px;
  margin: -64px auto 0 11px;
}

.u-section-7 .u-icon-2 {
  width: 29px;
  height: 29px;
  margin: 0 auto 0 11px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 253px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-7 .u-text-3 {
  margin: 113px 210px 0 31px;
}

.u-section-7 .u-social-icons-1 {
  white-space: nowrap;
  height: 34px;
  min-height: 16px;
  width: 167px;
  min-width: 94px;
  margin: 26px auto 0 31px;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-icon-5 {
  height: 100%;
}

.u-section-7 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 209px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 261px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-text-3 {
    position: relative;
    margin-right: 141px;
    margin-left: 0;
  }

  .u-section-7 .u-social-icons-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 255px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }
}